@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    clear: both;
    display: block; }

.txtHide {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom; }

@font-face {
  font-family: 'LigatureSymbols';
  src: url("/fonts/LigatureSymbols-2.11.eot");
  src: url("/fonts/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("/fonts/LigatureSymbols-2.11.woff") format("woff"), url("/fonts/LigatureSymbols-2.11.ttf") format("truetype"), url("/fonts/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  font-weight: normal;
  font-style: normal; }

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

@font-face {
  font-family: 'Metropolis';
  src: url("/fonts/Metropolis/Metropolis-Regular.eot");
  src: url("/fonts/Metropolis/Metropolis-Regular.woff2") format("woff2"), url("/fonts/Metropolis/Metropolis-Regular.woff") format("woff"), url("/fonts/Metropolis/Metropolis-Regular.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("/fonts/Metropolis/Metropolis-Medium.eot");
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2"), url("/fonts/Metropolis/Metropolis-Medium.woff") format("woff"), url("/fonts/Metropolis/Metropolis-Medium.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

/*=====================
basic style
=====================*/
/*=====================
main structure
=====================*/
html {
  -webkit-text-size-adjust: 100%; }

body {
  font-family: Metropolis, "Helvetica Neue", "Arial", "Noto Sans Japanese", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, Sans-serif;
  line-height: 1.5;
  line-break: strict;
  margin: 0 auto;
  background-color: #fff; }

#wrapper {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 1% 5%;
  font-size: 62.5%; }

iframe#tumblr_controls {
  top: 8px !important; }

/*=====================
header
=====================*/
.mainHeader {
  position: fixed;
  left: 0;
  top: 20px;
  padding-left: 20px;
  z-index: 500;
  width: 100%;
  display: flex;
  justify-content: flex-start; }
  .mainHeader a {
    text-decoration: none;
    color: #000; }
  .mainHeader h1 a {
    display: inline-block; }
  .mainHeader h1 .mainTitle {
    display: block;
    font-size: 3.8em;
    line-height: 1em;
    letter-spacing: 0.05em; }
  .mainHeader h1 .siteDescription {
    display: block;
    margin-top: 0.6em;
    font-weight: 400;
    font-size: 1.0em;
    line-height: 1em;
    letter-spacing: 0.15em; }
  .mainHeader .hamburger {
    display: none; }

.gnav {
  padding-left: 40px;
  padding-top: 15px; }
  .gnav ul {
    display: flex;
    justify-content: flex-start; }

.gnav_item {
  display: inline-block;
  line-height: 1em;
  font-size: 1.8em; }
  .gnav_item + .gnav_item {
    margin-left: 1.2em; }
  .gnav_item:first-child {
    margin: 0; }
  .gnav_item a {
    font-size: 1em; }
  .gnav_item.lsf a {
    font-size: 1.2em; }

@media screen and (min-width: 37.5em) {
  .pixiv a {
    width: 18px;
    height: 18px;
    display: block;
    background: url(/images/pixiv.svg) 0 0 no-repeat;
    background-size: 18px;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom; } }

@media screen and (max-width: 37.5em) {
  .mainHeader {
    display: block;
    padding: 0; }
    .mainHeader .hamburger {
      display: block;
      position: absolute;
      right: 2vw;
      top: 8px;
      width: 1em;
      font-size: 2.8em;
      line-height: 1em;
      cursor: pointer; }
  h1, .gnav {
    float: none; }
  h1 {
    display: flex;
    justify-content: center;
    text-align: center; }
  .gnav {
    position: fixed;
    right: 0;
    top: 65px;
    padding: 0;
    width: 20%;
    transform: translateX(20vw);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .gnav.narrow_shown {
      transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transform: none; }
    .gnav ul {
      flex-direction: column;
      padding-bottom: 20px; }
    .gnav .gnav_item {
      margin: 10px 0 0;
      text-align: right; }
      .gnav .gnav_item:first-child {
        margin-top: 0; }
      .gnav .gnav_item a {
        display: inline-block;
        padding: 5px 20px 5px 10px; } }

/*=====================
footer
=====================*/
.footer .navigation {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center; }
  .footer .navigation a,
  .footer .navigation .current {
    display: block;
    padding: 3px 9px;
    margin: 0 0.2em;
    border-radius: 2px;
    background-color: #eee;
    text-decoration: none;
    font-size: 1.4em;
    color: #444;
    font-weight: 500; }
  .footer .navigation a:hover {
    background-color: #aaa; }
  .footer .navigation .current {
    background-color: #aaa;
    color: #ddd; }

/*=====================
index
=====================*/
.post_item {
  position: relative;
  will-change: filter;
  width: 100%;
  height: 350px;
  margin: 15px auto 0;
  background: #888 center center no-repeat;
  background-size: cover; }
  .post_item:first-child {
    margin-top: 0; }

.post_item_link {
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.2s;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  text-decoration: none;
  color: #000; }
  .post_item_link:hover {
    transition: background-color 0.4s;
    background-color: rgba(255, 255, 255, 0.1); }

.post_item_info {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 4px solid #000;
  border-radius: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; }

.post_item_title {
  margin-left: -30px;
  padding: 3px 8px 0;
  font-size: 2.2em;
  line-height: 1.5;
  background-color: #fff;
  display: inline-block; }

.post_item_meta {
  align-self: flex-end;
  text-align: right; }

.post_item_date,
.post_item_notes {
  display: inline-block; }

.post_item_date {
  margin-top: 5px;
  padding: 2px 8px;
  font-size: 1.6em;
  background-color: #fff; }

.post_item_notes {
  margin-top: 5px;
  padding: 2px 8px;
  font-size: 1.0em;
  background-color: #fff; }

.post_item_action {
  position: absolute;
  left: 40px;
  bottom: 31px; }
  .post_item_action a {
    text-decoration: none;
    font-size: 2em;
    margin-right: 0.5em; }
  .post_item_action .reblog {
    color: #222; }
  .post_item_action .like {
    color: #c22; }

/*=====================
post
=====================*/
.post {
  padding: 120px 0 40px;
  border-bottom: 1px solid #303233;
  max-width: 800px;
  margin: 0 auto;
  /*photo*/
  /*photoset container*/
  /*text*/ }
  .post .post_title {
    margin-bottom: 2em;
    margin-bottom: 6vw;
    text-align: center;
    font-weight: 500;
    font-size: 2.8em; }
  .post .photo {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 2px;
    overflow: hidden;
    text-align: center; }
  .post .photo_rowContainer {
    height: 400px;
    overflow: hidden;
    line-height: 1;
    font-size: 0; }
  .post .photo_item {
    display: block;
    width: 100%;
    height: 100%;
    /*kill inner space*/
    line-height: 1;
    font-size: 0; }
  .post .photo_item-set {
    display: inline-block; }
  .post .layout_itemCount-2 .photo_item-set {
    width: 50%; }
  .post .layout_itemCount-3 .photo_item-set {
    width: 33%; }
  .post .photo_item_image {
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover; }
  .post .post_text {
    max-width: 800px;
    min-width: 25em;
    margin: 4vw auto 0;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #3dffcf;
    font-size: 1.4em;
    line-height: 1.75em;
    letter-spacing: 0.1em; }
  .post .post_meta {
    max-width: 800px;
    min-width: 25em;
    margin: 2vw auto 0;
    font-size: 1.3em; }
    .post .post_meta a {
      text-decoration: none;
      font-size: 2em;
      margin-right: 0.5em; }
    .post .post_meta .reblog {
      color: #222; }
    .post .post_meta .like {
      color: #c22; }
  @media screen and (max-width: 37.5em) {
    .post .post_title {
      font-size: 2.2em; }
    .post .post_text {
      font-size: 1.4em; } }

/*=====================
modal
=====================*/
.modal {
  position: fixed;
  z-index: 9000;
  left: 50%;
  top: 50%;
  width: 0;
  height: 4px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s, height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s, top 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s; }
  .modal.shown {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s; }
  .modal .modal_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  .modal .figure {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
    opacity: 0; }
  .modal.shown .figure {
    transition: 0s 0.5s;
    opacity: 1; }
  .modal .close {
    position: absolute;
    left: 20px;
    top: 2.5%;
    font-size: 3.0em;
    color: #fff;
    opacity: 0;
    cursor: pointer;
    line-height: 1; }
  .modal.shown .close {
    transition: 0.2s 1.1s;
    opacity: 1; }

/*=====================
loader
=====================*/
.loader_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s; }
  .loader_container .loadingMsg {
    position: relative; }
  .loader_container .logo {
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    margin: 0 auto 10px;
    background: url(/images/nilgiri.png) no-repeat;
    width: 108px;
    height: 34px;
    display: block; }
  .loader_container .progress {
    color: #111; }
  .loader_container.disabled {
    transition: opacity 0.5s linear 0.2s, height 0s linear 0.5s;
    opacity: 0;
    height: 0; }
    .loader_container.disabled .logo {
      opacity: 0;
      transition: opacity 0.3s linear 0.2s; }
    .loader_container.disabled .progress {
      opacity: 0;
      transition: opacity 0.3s linear 0s; }

#rina {
  font-family: "BudoStd-L", "Helvetica Neue", "Arial", "NewRodinPro-M", Sans-serif; }

#chie {
  font-family: "PopJoyStd-B", "Helvetica Neue", "Arial", "NewRodinPro-M", Sans-serif; }

#misaki {
  font-family: "TsukuMinPr6-R", "Helvetica Neue", "Arial", "NewRodinPro-M", Sans-serif; }

.notes {
  border-top: 1px dotted #303233;
  padding: 10px 20px 20px; }

.note {
  font-size: 1.2em; }

ol.notes .avatar_frame {
  display: none; }

.tags {
  padding: 20px 20px 0; }

.tags a {
  display: block;
  float: left;
  font-size: 1.3em;
  color: #c1c2c2;
  text-decoration: none; }

.dateNote {
  width: 110px;
  float: left;
  font-size: 1.2em;
  color: #c1c2c2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.dateNote a {
  color: #c1c2c2;
  text-decoration: none; }

.postControls {
  width: 140px;
  float: left;
  text-align: right; }
  .singular .postControls {
    float: none;
    width: 100%; }
  .postControls li {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    vertical-align: middle; }
    .postControls li .tweet_button {
      font-size: 26px;
      color: #000; }
    .postControls li .tweet_button,
    .postControls li .reblog_button,
    .postControls li .like_button {
      opacity: 0.4; }
    .postControls li .tweet_button:hover,
    .postControls li .reblog_button:hover,
    .postControls li .like_button:hover {
      opacity: 0.5; }
    .postControls li .reblog_button.rebloged,
    .postControls li .like_button.liked {
      opacity: 1; }

/*=====================
copyright
=====================*/
.copyright {
  margin-top: 25px; }

.nilgiriLogo {
  background: url(/images/nilgiri.png) no-repeat;
  width: 108px;
  height: 34px;
  margin: 0 auto;
  display: block; }
